*~
*.#*
*#*#
*.swp
*.ipr
*.iml
*.iws
*.pyc
.idea/
.idea_modules/
build/*.jar
.settings
.cache
target/*
dynaml-core/target/*
dynaml-examples/target/*
dynaml-pipes/target/*
release.properties
*.log
data/results*
data/dst_*.txt
_site
data/MagicGamma.csv
data/Adult.csv
data/ForestCover.csv
data/*Res.csv
Gemfile.lock
index*.html
*.DS_Store
javascripts
stylesheets
project/project
project/target
