*~
*.#*
*#*#
*.swp
*.ipr
*.iml
*.iws
*.pyc
.idea/
.idea_modules/
build/*.jar
.settings
.cache
target/*
dynaml-core/target/*
dynaml-examples/target/*
dynaml-pipes/target/*
dynaml-repl/target/*
dynaml-notebook/target/*
dynaml-tensorflow/target/*
dynaml-docs/target/*
release.properties
*.log
data/results*
data/dst_*.txt
_site
data/*Res.csv
Gemfile.lock
index-*.html
!docs/api_docs/**/**/index.html
*.DS_Store
javascripts
stylesheets
project/project
!project/project/plugins.sbt
project/target
.ensime
.ensime_cache
site
local-repo
notebook
notebook/*
conf/interpreter.json
tmp
interpreter
interpreter/*
temp
temp/*
/bin/
test_output
.bloop
project/.bloop
project/metals.sbt
.metals
!.scalafmt.conf
.coveralls.yml
dynaml-kernel
website/static/api
website/build/*
website/node_modules/*
scripts/scratch.sc
heapdump*
javacore*
Snap*
.ipynb_checkpoints*
.ammonite
.vscode
.vscode/settings.json