*~
*.#*
*#*#
*.swp
*.ipr
*.iml
*.iws
*.pyc
.idea/
.idea_modules/
build/*.jar
.settings
.cache
target/*
.DS_Store
release.properties
*.log
data/results*
_site
data/MagicGamma.csv
data/Adult.csv
data/ForestCover.csv
data/*Res.csv
Gemfile.lock
index*.html